<div class="hero">
    <div class="hero__container container">
        <div class="hero__content">
            <h1 class="hero__title title-section title-section__white">MANTOR — коллаборация качества, цены и технологии в сфере запасных частей</h1>
            <h3 class="hero__description description-section description-section__white">Торговая марка MANTOR была образована в 2015 году. У нашей компании заключено ряд контрактов с лучшими производственными линиями на различных производствах в Китае. На мировом рынке большая часть АНАЛОГОВ упакованы в белые коробки или не имеют названия. У таких деталей непонятное качество, неизвестный производитель и нет гарантии в России.</h3>
        </div>
    </div>
</div>